/* corpo */

*{
    color: var(--fontcolor);
    font-family: Helvetica, sans-serif;
}


body{
   background: var(--bg);
}

ul{
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

.btn{
    color: var(--btnFontColor);
    background-color: var(bntBg);
}

.btn{
    position: absolute;
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color:  var(btnBg);
}


.light-theme{
    --bg: var(--green);
    --fontcolor: var(--black);
}

.dark-theme {
    --bg: var(--black);
    --fontcolor: var(--green);
}


:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

